@charset "UTF-8";

@font-face {
  font-family: "trilce";
  src:url("fonts/trilce.eot");
  src:url("fonts/trilce.eot?#iefix") format("embedded-opentype"),
    url("fonts/trilce.woff") format("woff"),
    url("fonts/trilce.ttf") format("truetype"),
    url("fonts/trilce.svg#trilce") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "trilce" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "trilce" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\68";
}
.icon-trash-bin:before {
  content: "\63";
}
.icon-pencil:before {
  content: "\64";
}
.icon-caret-down:before {
  content: "\66";
}
.icon-angle-left:before {
  content: "\6a";
}
.icon-angle-right:before {
  content: "\6b";
}
.icon-caret-down:before {
  content: "\66";
}
.icon-caret-left:before {
  content: "\67";
}
.icon-caret-right:before {
  content: "\69";
}
.icon-caret-up:before {
  content: "\6f";
}
.icon-angle-down:before {
  content: "\70";
}
.icon-angle-up:before {
  content: "\71";
}
.icon-angle-double-right:before {
  content: "\72";
}
.icon-angle-double-left:before {
  content: "\73";
}
.icon-home:before {
  content: "\61";
}
.icon-pencil:before {
  content: "\62";
}
.icon-trash:before {
  content: "\63";
}
.icon-ban:before {
  content: "\64";
}
.icon-floppy-o:before {
  content: "\65";
}
.icon-plus:before {
  content: "\6c";
}
.icon-sign-out:before {
  content: "\6d";
}
.icon-check:before {
  content: "\6e";
}
.icon-check-circle:before {
  content: "\74";
}
