@charset "UTF-8";

@font-face {
  font-family: "trilce";
  src:url("fonts/trilce.eot");
  src:url("fonts/trilce.eot?#iefix") format("embedded-opentype"),
    url("fonts/trilce.woff") format("woff"),
    url("fonts/trilce.ttf") format("truetype"),
    url("fonts/trilce.svg#trilce") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "trilce" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "trilce" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dots:before {
  content: "\65";
}
.icon-bars:before {
  content: "\68";
}
.icon-exit:before {
  content: "\61";
}
.icon-home:before {
  content: "\62";
}
@font-face{
    font-family: 'Roboto-Normal';
    src: url('fonts/Roboto-Medium.ttf');
}
body{
    font-family: 'Roboto-Normal',sans-serif;
}
header{
    position: fixed;
    height: 45px;
    background: #052747;
    left: 0;
    right: 0;
    color:#fff;
}
header > nav > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
header > nav > ul > li{
    display: inline-block;
    vertical-align:top;
    margin-right: -4px;
}
header > nav > ul > li:first-child{
    width: 240px;
}
header > nav > ul > li:first-child > a{
    display:block;
    padding:0;
    color:#fff;
    font-size: 20px;
    line-height: 45px;
    height: 45px;
    text-align: center;
    margin:0;
}
#menu-primario{
    position: absolute;
    background: #0771B1;
    width: 240px;
    top: 45px;
    bottom: 0;
}
.opcion-secundario{
    list-style: none;
    margin: 0;
    padding: 0;
}
.opcion-secundario > li{
    display: inline-block;
    vertical-align: top;
}
.opcion-secundario > li a{
    display: block;
    height: 45px;
    line-height: 45px;
    color:#fff;
    padding: 0 10px;
    text-decoration: none;
}
.opcion-secundario > li.icon:nth-child(1) > a,
.opcion-secundario > li.icon:nth-child(2) > a{
    padding-top: 3px;
}
.opcion-secundario > li.icon:nth-child(1) > a > i:before,
.opcion-secundario > li.icon:nth-child(2) > a > i:before{
    font-size: 18px;
    line-height: 18px;
}
.opcion-secundario > li > a:hover{
    /*background: rgba(255,255,255,0.2);*/
    background: #0771B1;
}
.opcion-personal{
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
}
#contenido{
    position: absolute;
    left: 250px;
    background: #F2F2F2;
    top: 45px;
    bottom: 0;
    width: auto;
}