@import url('bootstrap.css');
@import url('styles.css');
@font-face{
    font-family: 'Roboto-Normal';
    src: url('fonts/Roboto-Medium.ttf');
}
body{
    font-family: 'Roboto-Normal',sans-serif;
}
header{
    position: fixed;
    height: 40px;
    background: #052747;
    left: 0;
    right: 0;
    color:#fff;
    z-index: 20;
}
header > nav > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
header > nav > ul > li{
    display: inline-block;
    vertical-align:top;
    margin-right: -4px;
}
header > nav > ul > li:first-child{
    width: 240px;
}
header > nav > ul > li:first-child > a{
    display:block;
    padding:0;
    color:#fff;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    margin:0;
}

#menu-primario{
    position: absolute;
    background: #fff;
    width: 240px;
    top: 40px;
    bottom: 0;
    border-right: 1px solid #ddd;
}
#menu-base{
    margin:0;
    padding: 0;
}
#menu-base > li{
    display: block;
}
#menu-base > li > a{
    position: relative;
    display: block;
    color:#000;
    background:#eee;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    /*border-bottom: 1px solid #EA2027;*/
}
#menu-base > li > a:after{
    position: absolute;
    content: "\66";
    font-family: "trilce" !important;
    right: 10px;
    top: 0px;
    padding-top: 2px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
#menu-base > li > a:hover,
#menu-base > li.active > a{
    background: #0771B1;
    color: #fff;
}
.sub-menu{
    list-style: none;
    margin:0;
    padding:0;
}
.sub-menu > li{
    position: relative;
}
.sub-menu > li:before{
    position: absolute;
    content: "\6b";
    font-family: "trilce" !important;
    height: 25px;
    line-height: 25px;
    left: 5px;
    color: #0771B1;
}
.sub-menu > li:hover > a,
.sub-menu > li:hover:before{
    color:#EA2027;
}
.sub-menu > li > a{
    position: relative;
    display: block;
    color:#0771B1;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    padding-left:20px;
}

.opcion-secundario{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.opcion-secundario > li{
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.opcion-secundario > li:hover > .sub-menu-secundario{
    display: block;
}
.opcion-secundario > li a{
    display: block;
    height: 40px;
    line-height: 40px;
    color:#fff;
    padding: 0 10px;
    font-size: 13px;
    text-decoration: none;
}
.opcion-secundario > li.icon:nth-child(1) > a,
.opcion-secundario > li.icon:nth-child(2) > a{
    padding-top: 3px;
}
.opcion-secundario > li.icon:nth-child(1) > a > i:before,
.opcion-secundario > li.icon:nth-child(2) > a > i:before{
    font-size: 18px;
    line-height: 18px;
}
.opcion-secundario > li > a:hover{
    /*background: rgba(255,255,255,0.2);*/
    background: #0771B1;
}
.opcion-personal{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
}
.sub-menu-secundario{
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 100;
}
.sub-menu-secundario > li{
    display: block;
}
.sub-menu-secundario > li > a{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    display: block;
    font-size: 11px;
    color:#fff;
    min-width: 200px;
    background: #0771B1;
}
.sub-menu-secundario > li:hover{
}
.sub-menu-secundario > li:hover > a{
    background:#052747;
    color: #fff;
}
#contenido{
    position: absolute;
    left: 240px;
    background: #F2F2F2;
    top: 40px;
    bottom: 0;
    right: 0;
    padding-top: 10px;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: auto;
}



/*-----COMPONENTES ---------*/
.form-control{
    border-radius: 2px;
    height: 28px;
}
textarea{
    resize: none;
}
.form-group label{
    font-weight: normal;
    font-size: 13px;
    color:#999;
}
/*---PANELES-------*/
.panel-heading{
    background: #0771B1;
    color:#fff;
    border:1px solid #0771B1;
}
.panel-heading .form-control{
    height: 22px;
    text-align:center;
    font-size: 11px;
    padding: 4px;
}
.panel-body{
    position: relative;
}
.panel-footer{
    padding: 8px;
}
.pamel-wizard{
    position: relative;
    padding-left: 15px;
}
.pamel-wizard > span{
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 11px;
    border-radius: 50%;
    background: #052747;
}
/*---PANELES-------*/
.table thead{
    background: #eee;
    color:#000;

}
.table th{
    padding: 4px !important;
    font-weight: normal;
    text-align: center;
    vertical-align: middle !important;
    font-size: 12px;
}
.table td{
    padding: 3px !important;
    font-size: 12px;
}
.table tr.col-input > td{
    height: 28px;
    line-height: 28px;
}
.table .form-control{
    height: 28px;
    text-align:center;
    font-size: 12px;
}
.table select.form-control{
    padding: 0;
}
/*--------CHECKBOX-----------*/
.checkbox-style{
    position: relative;
    margin:0 auto;
}
.checkbox-style > input[type=checkbox]:checked + label:before{
    background: #0771B1;
}

.checkbox-style > label{
    display: block;
    padding-top:3px;
    margin:0 auto;
}
.checkbox-style > label:before{
    position: relative;
    content: "";
    cursor: pointer;
    display: block;
    width: 16px;
    margin: 0 auto;
    text-align: center;
    height: 16px;
    border:1px solid #0771B1;
    border-radius: 2px;
}
.checkbox-style > input[type=checkbox]{
    display: none;
}
/*--------CHECKBOX-----------*/
/*--------RADIO-----------*/
.radio-style{
    position: relative;
    margin:0 auto;
}
.radio-style > input[type=radio]:checked + label:before{
    background: #0771B1;
}

.radio-style > label{
    display: inline-block;
    padding-top:3px;
    padding-left: 20px;
    cursor: pointer;
}
.radio-style > label:before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 16px;
    left: 0;
    height: 16px;
    border-radius: 50%;
    margin:0 auto;
    border:1px solid #0771B1;
}
.radio-style.no-text{
    padding-left: 0;
}
.radio-style > input[type=radio]{
    display: none;
}
/*--------RADIO-----------*/

/*----BOTONES----*/
.btn{
   /* padding: 4px 10px;
    font-size: 13px;*/
}

.btn.btn-primary{
    background: #0771B1;
    color: #fff;
}

/*-------PROGRESS---------------*/
.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    top: 50%;
    transform: translateY(-20%);
    margin:auto;
    text-align: center;
}

.loading > div {
  width: 18px;
  height: 18px;
  background-color: #0771B1;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loading .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/*--------PROGRESS----------------*/
.table-scroll{

}
.table-scroll > tbody{
    height: 80vh;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

/*--------TREE---------------------*/
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li small{
    display: inline-block;
    z-index: 20;
}
.tree li span{
    cursor: pointer;
    display: block;
    z-index: 40;
}
.tree li span small{
    color:#ccc;
    font-size: 11px;
}